
/*body*/
 body{
    margin: 0;
     font-size: 11px;
     width: 100%;
     color: rgba(39, 35, 35, 1);
     position: relative;
 }
/* header*/
nav {
    width: 99%;
    margin-right:1% ;
    display: flex;
    justify-content: space-between;

    align-items: center;
    gap: 10px;
}

nav > div {
    text-align: center;
    padding: 10px;

    text-align: center;
}
.push {
    margin-left: auto;
}
.sign_in {
    background: rgb(70, 70, 247);
    text-align:center;
    font-size: 14px;
    height: 18px;
    padding: 2px 10px;

}

.appimg {
    height: 15px;
}

main {
    text-align: center;

     margin: 15vh auto 0 auto;
 }
 .google-image {
     width: 500px;
     margin-bottom: 5vh;
 }
 .button {
     display: flex;
     justify-content:center;
     gap: 2em;
     margin-top: 2em;
     font-size: 16px;
 }
 .button > p {
    background: rgba(130, 130, 141, 0.1);
    padding: 10px;
 }
 input{
    width: 60%;
     height: 40px;
     border: 1px solid rgba(130, 130, 141, 0.4);
     border-radius: 20px;
     padding-left: 50px;
 }
 footer {
     background: rgba(130, 130, 141, 0.1);
     position: fixed;
     bottom: 0vh;
     width: 100vw;
     
    

     
 }
article{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

article > * {
padding: 10px;
text-align: center;
}

@media screen and (max-width:650px) or () {
    .google-image{
        width: 50vw;
        height: 100px;
    }
    input {
        width: 70vw;
    }
    article{
        font-size: 0.7em;
    }
    
}


@media (max-width:950px){
    .google-image{
        width: 50vw;}
}

@media (max-height: 450px){
    body{
        position: relative;
        overflow-x: hidden;
    }
    footer {
        position: static;
    }
    
}